body {
  background: #fff;
  color: #f00;
  font-size: 12;
}

@media (min-width: 1024) {
  .row .col-md-1 {
    width: 8.33333%;
    float: left;
  }
  .row .col-md-2 {
    width: 16.66667%;
    float: left;
  }
  .row .col-md-3 {
    width: 25%;
    float: left;
  }
  .row .col-md-4 {
    width: 33.33333%;
    float: left;
  }
  .row .col-md-5 {
    width: 41.66667%;
    float: left;
  }
  .row .col-md-6 {
    width: 50%;
    float: left;
  }
  .row .col-md-7 {
    width: 58.33333%;
    float: left;
  }
  .row .col-md-8 {
    width: 66.66667%;
    float: left;
  }
  .row .col-md-9 {
    width: 75%;
    float: left;
  }
  .row .col-md-10 {
    width: 83.33333%;
    float: left;
  }
  .row .col-md-11 {
    width: 91.66667%;
    float: left;
  }
  .row .col-md-12 {
    width: 100%;
    float: left;
  }
}
