/*
Error: Invalid CSS after "body ": expected selector, was "{"
        on line 1 of C:\Users\王世凡\Desktop\product\client\kaidian\src\static\sass\index.sass

1: body {
2:   background:#fff;
3: }

Backtrace:
C:\Users\王世凡\Desktop\product\client\kaidian\src\static\sass\index.sass:1
D:/kaola/koalabianyigongju/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1165:in `expected'
D:/kaola/koalabianyigongju/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1101:in `expected'
D:/kaola/koalabianyigongju/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/static_parser.rb:21:in `parse_selector'
D:/kaola/koalabianyigongju/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:414:in `visit_rule'
D:/kaola/koalabianyigongju/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/kaola/koalabianyigongju/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
D:/kaola/koalabianyigongju/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
D:/kaola/koalabianyigongju/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
D:/kaola/koalabianyigongju/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
D:/kaola/koalabianyigongju/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
D:/kaola/koalabianyigongju/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
D:/kaola/koalabianyigongju/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `map'
D:/kaola/koalabianyigongju/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `visit_children'
D:/kaola/koalabianyigongju/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
D:/kaola/koalabianyigongju/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
D:/kaola/koalabianyigongju/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
D:/kaola/koalabianyigongju/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `block in visit'
D:/kaola/koalabianyigongju/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
D:/kaola/koalabianyigongju/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/kaola/koalabianyigongju/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:157:in `visit'
D:/kaola/koalabianyigongju/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:8:in `visit'
D:/kaola/koalabianyigongju/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/root_node.rb:36:in `css_tree'
D:/kaola/koalabianyigongju/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
D:/kaola/koalabianyigongju/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
D:/kaola/koalabianyigongju/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
D:/kaola/koalabianyigongju/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
D:/kaola/koalabianyigongju/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
D:/kaola/koalabianyigongju/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
D:/kaola/koalabianyigongju/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
D:/kaola/koalabianyigongju/Koala/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
D:/kaola/koalabianyigongju/Koala/bin/sass:18:in `load'
D:/kaola/koalabianyigongju/Koala/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"body \": expected selector, was \"{\"\A         on line 1 of C:\Users\王世凡\Desktop\product\client\kaidian\src\static\sass\index.sass\A \A 1: body {\A 2:   background:#fff;\A 3: }"; }
